.ShiftsEmployee-wrapper {
  .header-shiftEmployee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    h3 {
      margin: 0;
      font-weight: bold;
    }
    .header-shiftEmployeeRight {
      display: flex;
      align-items: center;
      span {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        background-color: rgb(184, 181, 181);
        border-radius: 2px;
        cursor: pointer;
        svg {
          margin: auto;
        }
      }
      input {
        margin-left: 10px;
      }
    }
  }
  .content-shiftEmployee {
    table {
      width: 100%;
      //   border: 1px solid black;
    }
    tr {
      border: 1px solid rgb(114, 109, 109);
    }
    td,
    th {
      border: 1px solid rgb(114, 109, 109);
      height: 50px;
      text-align: center;
    }
    th {
      background-color: #ccc;
      span {
        margin-left: 10px;
        color: rgb(240, 44, 86);
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
