.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .forgotPasswordForm {
    width: 400px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 50px;
    border-radius: 5px;
  }
  .form-item {
    display: block;
    width: 100%;
  }
}
