.wrapper {
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .ant-form-item-label {
    overflow: visible;
  }
  .form-group {
    display: flex;
    .form-item {
      display: block;
      width: 100%;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
    .form-input {
      display: block;
      width: 300px;
    }
  }
  .ant-col-16 {
    max-width: 100%;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-col-offset-8 {
    margin-left: 0;
  }
  .ant-col-sm-offset-8 {
    margin-left: 0;
  }
}
