.wrapper {
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .formItem {
    margin: 10px;
  }
  .title {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    color: #666;
  }
}
.ant-input {
  padding: 5px;
}
